a {
  @apply text-primary transition-colors duration-200 underline underline-offset-2;

  &:hover,
  &:focus {
    @apply opacity-85 no-underline;
  }

  &:focus-visible:not(.card-link) {
    @apply outline-none;
  }

  &[target="_blank"]:not(.nocontent),
  &[download] {
    @apply inline-flex items-start gap-1 mr-1 after:text-xs after:align-super;
  }

  &[target="_blank"]:not(.nocontent)::after {
    content: "↗";
    @apply no-underline text-xs align-super;
  }

  &[download]::after {
    content: "⬇";
  }

  &.button-link {
    @apply inline-block px-4 py-2 no-underline bg-primary-dark text-white rounded hover:bg-secondary transition;
  }

  &.card-link {
    @apply block h-full w-full bg-neutral;

    &:focus-visible {
      @apply outline-none;
    }

    &:focus {
      @apply opacity-100;
    }
  }
}

/* .btn,
button,
input[type="button"],
input[type="submit"] {
  @apply inline-block px-4 py-2  hover:opacity-80 transition;

  &:focus-visible {
    @apply outline-accent outline-4;
  }
} */
